.button-class {
  font-family: Cairo;
  font-size: 20px;
  padding: 5px 30px;
  margin: 5px;
}

.tiktok {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.tiktok-button {
  background-color: black;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.tiktok-button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.discord {
  background-color: white;
  color: white;
  border-radius: 10px;
}

.discord-button {
  background-color: #5865F2;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.discord-button:hover {
  background-color: #5865F2;
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.patreon {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.patreon-button {
  background-color: #ee651b;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.patreon-button:hover {
  background-color: #ee651b;
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.button-class {
  font-family: Cairo;
  font-size: 20px;
  padding: 5px 30px;
  margin: 5px;
  cursor: pointer;
  border: none;
}
