a {
  font-size: 30px;
  color: #ffffff; 
  text-align: center;
  font-family: 'Cairo', sans-serif;
  text-decoration: none;
  margin-right: 20px;
}

.topnav {
  display: flex;
  justify-content: center;
}

  .topnav a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  .topnav a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #a424ff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); 
  }

  .topnav a:hover::before {
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
  }

  .topnav .active::before {
    width: 100%;
  }

   position: relative;
    text-decoration: none;
  }

  .underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: black;
    transition: all 0.3s ease-in-out;
  }

  .underline:hover::before {
    width: 100%;
  }